---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="space-y-1">
    <p class="text-muted-foreground text-sm">
      <Link
        href="https://www.q-net.or.kr/crf005.do?id=crf00503&jmCd=2290"
        class="text-foreground"
        external
        underline>정보처리산업기사</Link
      >, <Link
        href="https://www.q-net.or.kr/crf005.do?id=crf00503&jmCd=2170"
        class="text-foreground"
        external
        underline>전자산업기사</Link
      >, <Link
        href="https://www.q-net.or.kr/crf005.do?id=crf00503&jmCd=7780"
        class="text-foreground"
        external
        underline>전기기능사</Link
      > 취득하였습니다.
    </p>
    <p class="text-muted-foreground mb-2 text-sm">
      Next.js, Spring Framework 등을 이용한 풀스택 개발과 AWS, NCP 등의 클라우드
      구축 경험이 있습니다.
    </p>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
